<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../styles/modal.css">

</head>
<body>
    <div class="parent fade"> 
        <div class="modul_window">
        <h1>Модальное окно</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quasi, architecto libero cumque magnam quas? Dolor expedita officiis accusantium dicta voluptatibus voluptatum fuga modi necessitatibus, autem suscipit corporis delectus sed possimus laboriosam quibusdam ut, perferendis iure ullam quae molestias. Deleniti exercitationem iusto odit dolor sint consequatur distinctio temporibus quod voluptatum enim libero necessitatibus ipsum quisquam, rem asperiores odio consequuntur consectetur maxime voluptatibus, excepturi velit quae! Alias temporibus voluptatem ab blanditiis.</p>
        <div class="button1">Принять</div>
        <div class=button2>Отмена</div></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, unde, reprehenderit harum sed alias error possimus accusantium aut facere est ipsam vitae atque vero perspiciatis aspernatur dolores fugiat! Ab id veniam tempora dolorum officia saepe magni voluptatem molestiae voluptatum nobis esse, assumenda necessitatibus ullam alias magnam dolore incidunt recusandae non. Voluptatum voluptas ut numquam, aspernatur beatae accusantium magnam fuga placeat cum suscipit facere totam dolore facilis, quod pariatur commodi porro, eius deserunt debitis possimus neque illo soluta. Provident laboriosam neque a ducimus qui. Ea eum velit, vitae, maxime veritatis fugit expedita id ut, voluptas cumque qui suscipit saepe quas culpa?</p>
        <br>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione at facilis atque aspernatur deserunt? Voluptas, porro ipsum obcaecati, et sunt adipisci aspernatur expedita totam, quod error illo beatae placeat est odio tempora unde eos! Necessitatibus provident ducimus dolorum nobis. Non voluptate in sapiente reiciendis nisi corporis deleniti minus, sint neque inventore blanditiis ducimus vero veniam.</p>
        <br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam voluptatibus sed debitis aut neque, laudantium voluptate nulla quaerat animi dicta illo pariatur earum libero autem minus nam in ipsam. Harum quod voluptatibus accusantium, neque assumenda vero. Doloremque unde quas sit.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima commodi totam suscipit doloribus blanditiis facilis vel? Veniam doloremque at inventore quis? Obcaecati vitae deserunt eveniet odit laboriosam recusandae impedit hic, distinctio eos tempore dolorem facere esse quo atque quis earum pariatur itaque voluptatem eum provident!</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis adipisci similique quae dolores rem? Facilis labore beatae minus voluptas obcaecati iusto autem ullam porro. Iure eum, recusandae maiores accusantium dicta provident corrupti labore quae facilis maxime laboriosam reprehenderit illo commodi voluptate adipisci natus suscipit neque? Impedit ut non aperiam eveniet repellat voluptas! Laborum recusandae reiciendis harum totam quasi nisi voluptas quos porro ipsam saepe minus itaque, sequi illo atque mollitia.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eum beatae eaque magnam quod! Ipsum et aperiam laborum earum fuga nisi ipsam non, quisquam quibusdam aspernatur esse ea neque dignissimos, suscipit laudantium mollitia quasi totam. At sint modi dicta hic quaerat amet id, eum aliquid inventore? Quibusdam odio et, nihil beatae dolores quas rem molestiae repellendus quidem cumque ratione dolorum!</p>
        <br>
    
  
  </div>
</body>
</html>