*,
body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.header {
  position: fixed;
  right: 0; 
  left: 0;
  
  padding: 2rem;

  background-color: coral;
  }

  .container {
    max-width: 1024px;
    margin: 0 auto;
  }

  .block1 {
    padding: 2rem;
    border: 2px solid blue;

  }

  .title {
        text-align: center;
        color: white;
    
  }